accelerate==0.15.0
anyio==3.6.2
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
contourpy==1.0.6
cycler==0.11.0
diffusers @ git+https://github.com/huggingface/diffusers.git@febaf863026bd014b7a14349336544fc109d0f57
fastapi==0.88.0
filelock==3.8.0
fonttools==4.38.0
ftfy==6.1.1
h11==0.14.0
httptools==0.5.0
huggingface-hub==0.11.1
idna==3.4
importlib-metadata==5.1.0
jax==0.4.1
kiwisolver==1.4.4
matplotlib==3.6.2
ninja==1.11.1
numpy==1.23.5
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.2
Pillow==9.3.0
psutil==5.9.4
pydantic==1.10.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.6
PyYAML==6.0
regex==2022.10.31
requests==2.28.1
scipy==1.10.0
six==1.16.0
sniffio==1.3.0
starlette==0.22.0
tokenizers==0.13.2
torch==1.13.0+cu117
torchaudio==0.13.0+cu117
torchvision==0.14.0+cu117
tqdm==4.64.1
transformers==4.26.0
typing-extensions==4.4.0
urllib3==1.26.13
uvicorn==0.20.0
watchfiles==0.18.1
wcwidth==0.2.6
websockets==10.4
zipp==3.11.0